<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="400" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [1]:
import pandas as pd

<ipython-input-1-7dd3504c366f>:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

Load the dataset into a dataframe.

<h2>Read Data</h2>
<p>
We utilize the <code>pandas.read_csv()</code> function for reading CSV files. However, in this version of the lab, which operates on JupyterLite, the dataset needs to be downloaded to the interface using the provided code below.
</p>

The functions below will download the dataset into your browser:

In [77]:
from pyodide.http import pyfetch
import numpy as np
async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())

In [3]:
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"

To obtain the dataset, utilize the download() function as defined above:

In [4]:
await download(file_path, "m1_survey_data.csv")
file_name="m1_survey_data.csv"

Utilize the Pandas method read_csv() to load the data into a dataframe.

In [5]:
df = pd.read_csv(file_name)

> Note: This version of the lab is working on JupyterLite, which requires the dataset to be downloaded to the interface.While working on the downloaded version of this notebook on their local machines(Jupyter Anaconda), the learners can simply **skip the steps above,** and simply use the URL directly in the `pandas.read_csv()` function. You can uncomment and run the statements in the cell below.

In [ ]:
#df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [15]:
# your code goes here
row_val = 2339,2342
#df.loc[df['Respondent'].isin(row_val)]
print(df.loc[df['Respondent'] == 2339])
print(df[df.duplicated()])
#count number of duplicate rows
print(df.duplicated().sum())

      Respondent                      MainBranch Hobbyist  \
1107        2339  I am a developer by profession      Yes
1168        2339  I am a developer by profession      Yes
1229        2339  I am a developer by profession      Yes

                     OpenSourcer  \
1107  Once a month or more often
1168  Once a month or more often
1229  Once a month or more often

                                             OpenSource          Employment  \
1107  OSS is, on average, of HIGHER quality than pro...  Employed full-time
1168  OSS is, on average, of HIGHER quality than pro...  Employed full-time
1229  OSS is, on average, of HIGHER quality than pro...  Employed full-time

            Country Student  \
1107  United States      No
1168  United States      No
1229  United States      No

                                                EdLevel  \
1107  Some college/university study without earning ...
1168  Some college/university study without earning ...
1229  Some college/university study without earning ...

                                         UndergradMajor  ...  \
1107  Computer science, computer engineering, or sof...  ...
1168  Computer science, computer engineering, or sof...  ...
1229  Computer science, computer engineering, or sof...  ...

                                WelcomeChange SONewContent   Age Gender Trans  \
1107  Just as welcome now as I felt last year          NaN  24.0    Man    No
1168  Just as welcome now as I felt last year          NaN  24.0    Man    No
1229  Just as welcome now as I felt last year          NaN  24.0    Man    No

                    Sexuality                     Ethnicity Dependents  \
1107  Straight / Heterosexual  White or of European descent         No
1168  Straight / Heterosexual  White or of European descent         No
1229  Straight / Heterosexual  White or of European descent         No

               SurveyLength SurveyEase
1107  Appropriate in length       Easy
1168  Appropriate in length       Easy
1229  Appropriate in length       Easy

[3 rows x 85 columns]
      Respondent                                         MainBranch Hobbyist  \
1168        2339                     I am a developer by profession      Yes
1169        2342                     I am a developer by profession      Yes
1170        2343                     I am a developer by profession      Yes
1171        2344                     I am a developer by profession      Yes
1172        2347                     I am a developer by profession      Yes
...          ...                                                ...      ...
2297        4674  I am not primarily a developer, but I write co...      Yes
2298        4675                     I am a developer by profession      Yes
2299        4676                     I am a developer by profession      Yes
2300        4677                     I am a developer by profession      Yes
2301        4679                     I am a developer by profession      Yes

                                            OpenSourcer  \
1168                         Once a month or more often
1169                                              Never
1170  Less than once a month but more than once per ...
1171                                              Never
1172                                              Never
...                                                 ...
2297                            Less than once per year
2298                                              Never
2299                                              Never
2300                         Once a month or more often
2301  Less than once a month but more than once per ...

                                             OpenSource          Employment  \
1168  OSS is, on average, of HIGHER quality than pro...  Employed full-time
1169  The quality of OSS and closed source software ...  Employed full-time
1170  OSS is, on average, of LOWER quality than prop...  Employed full-time
1171  The quality of OSS and closed source software ...  Employed full-time
1172  OSS is, on average, of HIGHER quality than pro...  Employed full-time
...                                                 ...                 ...
2297  The quality of OSS and closed source software ...  Employed full-time
2298  OSS is, on average, of HIGHER quality than pro...  Employed full-time
2299  OSS is, on average, of HIGHER quality than pro...  Employed full-time
2300  OSS is, on average, of HIGHER quality than pro...  Employed full-time
2301  The quality of OSS and closed source software ...  Employed full-time

             Country Student  \
1168   United States      No
1169  United Kingdom      No
1170          Canada      No
1171   United States      No
1172  United Kingdom      No
...              ...     ...
2297      Bangladesh      No
2298   United States      No
2299         Finland      No
2300  United Kingdom      No
2301   United States      No

                                                EdLevel  \
1168  Some college/university study without earning ...
1169  Some college/university study without earning ...
1170        Master’s degree (MA, MS, M.Eng., MBA, etc.)
1171           Bachelor’s degree (BA, BS, B.Eng., etc.)
1172        Master’s degree (MA, MS, M.Eng., MBA, etc.)
...                                                 ...
2297           Bachelor’s degree (BA, BS, B.Eng., etc.)
2298           Bachelor’s degree (BA, BS, B.Eng., etc.)
2299        Master’s degree (MA, MS, M.Eng., MBA, etc.)
2300           Bachelor’s degree (BA, BS, B.Eng., etc.)
2301        Master’s degree (MA, MS, M.Eng., MBA, etc.)

                                         UndergradMajor  ...  \
1168  Computer science, computer engineering, or sof...  ...
1169  Information systems, information technology, o...  ...
1170  Computer science, computer engineering, or sof...  ...
1171  Computer science, computer engineering, or sof...  ...
1172  Computer science, computer engineering, or sof...  ...
...                                                 ...  ...
2297                                                NaN  ...
2298  Information systems, information technology, o...  ...
2299  Another engineering discipline (ex. civil, ele...  ...
2300  A natural science (ex. biology, chemistry, phy...  ...
2301  Computer science, computer engineering, or sof...  ...

                                 WelcomeChange  \
1168   Just as welcome now as I felt last year
1169  Somewhat more welcome now than last year
1170  Somewhat more welcome now than last year
1171   Just as welcome now as I felt last year
1172   Just as welcome now as I felt last year
...                                        ...
2297  Somewhat less welcome now than last year
2298   Just as welcome now as I felt last year
2299  Somewhat less welcome now than last year
2300   Just as welcome now as I felt last year
2301   Just as welcome now as I felt last year

                                           SONewContent   Age Gender Trans  \
1168                                                NaN  24.0    Man    No
1169  Tech meetups or events in your area;Courses on...  24.0    Man    No
1170  Tech articles written by other developers;Indu...  27.0    Man    No
1171  Tech articles written by other developers;Indu...  24.0    Man    No
1172                                                NaN   NaN  Woman    No
...                                                 ...   ...    ...   ...
2297  Tech articles written by other developers;Indu...  31.0    Man    No
2298                Tech meetups or events in your area  27.0    Man    No
2299                                                NaN  36.0    Man    No
2300                                                NaN  40.0    Man    No
2301                                                NaN  27.0    Man    No

                                            Sexuality  \
1168                          Straight / Heterosexual
1169                          Straight / Heterosexual
1170                          Straight / Heterosexual
1171                          Straight / Heterosexual
1172                          Straight / Heterosexual
...                                               ...
2297  Bisexual;Gay or Lesbian;Straight / Heterosexual
2298                          Straight / Heterosexual
2299                          Straight / Heterosexual
2300                          Straight / Heterosexual
2301                                              NaN

                                              Ethnicity Dependents  \
1168                       White or of European descent         No
1169                       White or of European descent         No
1170  Black or of African descent;White or of Europe...         No
1171                       White or of European descent         No
1172                                           Biracial         No
...                                                 ...        ...
2297  Black or of African descent;Hispanic or Latino...        Yes
2298                       White or of European descent         No
2299                       White or of European descent        Yes
2300                       White or of European descent        Yes
2301                       White or of European descent         No

               SurveyLength                  SurveyEase
1168  Appropriate in length                        Easy
1169               Too long                        Easy
1170  Appropriate in length  Neither easy nor difficult
1171  Appropriate in length                        Easy
1172               Too long                        Easy
...                     ...                         ...
2297               Too long  Neither easy nor difficult
2298  Appropriate in length                        Easy
2299               Too long                        Easy
2300  Appropriate in length                        Easy
2301  Appropriate in length                        Easy

[154 rows x 85 columns]
154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [19]:
print(df.loc[df['Respondent'] == 2339])
print(df.duplicated().value_counts())

      Respondent                      MainBranch Hobbyist  \
1107        2339  I am a developer by profession      Yes
1168        2339  I am a developer by profession      Yes
1229        2339  I am a developer by profession      Yes

                     OpenSourcer  \
1107  Once a month or more often
1168  Once a month or more often
1229  Once a month or more often

                                             OpenSource          Employment  \
1107  OSS is, on average, of HIGHER quality than pro...  Employed full-time
1168  OSS is, on average, of HIGHER quality than pro...  Employed full-time
1229  OSS is, on average, of HIGHER quality than pro...  Employed full-time

            Country Student  \
1107  United States      No
1168  United States      No
1229  United States      No

                                                EdLevel  \
1107  Some college/university study without earning ...
1168  Some college/university study without earning ...
1229  Some college/university study without earning ...

                                         UndergradMajor  ...  \
1107  Computer science, computer engineering, or sof...  ...
1168  Computer science, computer engineering, or sof...  ...
1229  Computer science, computer engineering, or sof...  ...

                                WelcomeChange SONewContent   Age Gender Trans  \
1107  Just as welcome now as I felt last year          NaN  24.0    Man    No
1168  Just as welcome now as I felt last year          NaN  24.0    Man    No
1229  Just as welcome now as I felt last year          NaN  24.0    Man    No

                    Sexuality                     Ethnicity Dependents  \
1107  Straight / Heterosexual  White or of European descent         No
1168  Straight / Heterosexual  White or of European descent         No
1229  Straight / Heterosexual  White or of European descent         No

               SurveyLength SurveyEase
1107  Appropriate in length       Easy
1168  Appropriate in length       Easy
1229  Appropriate in length       Easy

[3 rows x 85 columns]
False    11398
True       154
Name: count, dtype: int64

In [21]:
# your code goes here
#inplace=True will update the original dataset
print(df.drop_duplicates(inplace=True))

None

Verify if duplicates were actually dropped.

In [105]:
# your code goes here
print(df.shape)
print(df.duplicated())
print(df['Respondent'].duplicated().value_counts())

(11398, 86)
0        False
1        False
2        False
3        False
4        False
         ...
11547    False
11548    False
11549    False
11550    False
11551    False
Length: 11398, dtype: bool
Respondent
False    11398
Name: count, dtype: int64

## Finding Missing values

Find the missing values for all columns.

In [43]:
# your code goes here
missing_data = df.isnull()
missing_data
#print(missing_data.head())
for col in missing_data.columns.values.tolist():
    #print(col)
    print(missing_data[col].value_counts())
    print(" ")

Respondent
False    11398
Name: count, dtype: int64

MainBranch
False    11398
Name: count, dtype: int64

Hobbyist
False    11398
Name: count, dtype: int64

OpenSourcer
False    11398
Name: count, dtype: int64

OpenSource
False    11317
True        81
Name: count, dtype: int64

Employment
False    11398
Name: count, dtype: int64

Country
False    11398
Name: count, dtype: int64

Student
False    11347
True        51
Name: count, dtype: int64

EdLevel
False    11286
True       112
Name: count, dtype: int64

UndergradMajor
False    10661
True       737
Name: count, dtype: int64

EduOther
False    11234
True       164
Name: count, dtype: int64

OrgSize
False    11302
True        96
Name: count, dtype: int64

DevType
False    11333
True        65
Name: count, dtype: int64

YearsCode
False    11389
True         9
Name: count, dtype: int64

Age1stCode
False    11385
True        13
Name: count, dtype: int64

YearsCodePro
False    11382
True        16
Name: count, dtype: int64

CareerSat
False    11398
Name: count, dtype: int64

JobSat
False    11397
True         1
Name: count, dtype: int64

MgrIdiot
False    10905
True       493
Name: count, dtype: int64

MgrMoney
False    10901
True       497
Name: count, dtype: int64

MgrWant
False    10905
True       493
Name: count, dtype: int64

JobSeek
False    11398
Name: count, dtype: int64

LastHireDate
False    11398
Name: count, dtype: int64

LastInt
False    10985
True       413
Name: count, dtype: int64

FizzBuzz
False    11361
True        37
Name: count, dtype: int64

JobFactors
False    11395
True         3
Name: count, dtype: int64

ResumeUpdate
False    11359
True        39
Name: count, dtype: int64

CurrencySymbol
False    11398
Name: count, dtype: int64

CurrencyDesc
False    11398
Name: count, dtype: int64

CompTotal
False    10589
True       809
Name: count, dtype: int64

CompFreq
False    11192
True       206
Name: count, dtype: int64

ConvertedComp
False    10582
True       816
Name: count, dtype: int64

WorkWeekHrs
False    11276
True       122
Name: count, dtype: int64

WorkPlan
False    11277
True       121
Name: count, dtype: int64

WorkChallenge
False    11234
True       164
Name: count, dtype: int64

WorkRemote
False    11390
True         8
Name: count, dtype: int64

WorkLoc
False    11366
True        32
Name: count, dtype: int64

ImpSyn
False    11393
True         5
Name: count, dtype: int64

CodeRev
False    11397
True         1
Name: count, dtype: int64

CodeRevHrs
False    8972
True     2426
Name: count, dtype: int64

UnitTests
False    11369
True        29
Name: count, dtype: int64

PurchaseHow
False    11202
True       196
Name: count, dtype: int64

PurchaseWhat
False    11360
True        38
Name: count, dtype: int64

LanguageWorkedWith
False    11387
True        11
Name: count, dtype: int64

LanguageDesireNextYear
False    11264
True       134
Name: count, dtype: int64

DatabaseWorkedWith
False    10945
True       453
Name: count, dtype: int64

DatabaseDesireNextYear
False    10356
True      1042
Name: count, dtype: int64

PlatformWorkedWith
False    10987
True       411
Name: count, dtype: int64

PlatformDesireNextYear
False    10854
True       544
Name: count, dtype: int64

WebFrameWorkedWith
False    10005
True      1393
Name: count, dtype: int64

WebFrameDesireNextYear
False    9781
True     1617
Name: count, dtype: int64

MiscTechWorkedWith
False    9216
True     2182
Name: count, dtype: int64

MiscTechDesireNextYear
False    9943
True     1455
Name: count, dtype: int64

DevEnviron
False    11369
True        29
Name: count, dtype: int64

OpSys
False    11364
True        34
Name: count, dtype: int64

Containers
False    11316
True        82
Name: count, dtype: int64

BlockchainOrg
False    9076
True     2322
Name: count, dtype: int64

BlockchainIs
False    8788
True     2610
Name: count, dtype: int64

BetterLife
False    11300
True        98
Name: count, dtype: int64

ITperson
False    11363
True        35
Name: count, dtype: int64

OffOn
False    11360
True        38
Name: count, dtype: int64

SocialMedia
False    11105
True       293
Name: count, dtype: int64

Extraversion
False    11378
True        20
Name: count, dtype: int64

ScreenName
False    10891
True       507
Name: count, dtype: int64

SOVisit1st
False    11073
True       325
Name: count, dtype: int64

SOVisitFreq
False    11393
True         5
Name: count, dtype: int64

SOVisitTo
False    11397
True         1
Name: count, dtype: int64

SOFindAnswer
False    11395
True         3
Name: count, dtype: int64

SOTimeSaved
False    11348
True        50
Name: count, dtype: int64

SOHowMuchTime
False    9481
True     1917
Name: count, dtype: int64

SOAccount
False    11397
True         1
Name: count, dtype: int64

SOPartFreq
False    10270
True      1128
Name: count, dtype: int64

SOJobs
False    11392
True         6
Name: count, dtype: int64

EntTeams
False    11393
True         5
Name: count, dtype: int64

SOComm
False    11398
Name: count, dtype: int64

WelcomeChange
False    11313
True        85
Name: count, dtype: int64

SONewContent
False    9433
True     1965
Name: count, dtype: int64

Age
False    11111
True       287
Name: count, dtype: int64

Gender
False    11325
True        73
Name: count, dtype: int64

Trans
False    11275
True       123
Name: count, dtype: int64

Sexuality
False    10856
True       542
Name: count, dtype: int64

Ethnicity
False    10723
True       675
Name: count, dtype: int64

Dependents
False    11258
True       140
Name: count, dtype: int64

SurveyLength
False    11379
True        19
Name: count, dtype: int64

SurveyEase
False    11384
True        14
Name: count, dtype: int64

Find out how many rows are missing in the column 'WorkLoc'

In [106]:
# your code goes here
row_miss = df.isna().sum(axis=1)
row_miss
print(df[df['WorkLoc'].isnull()].count())
print(df[df['EdLevel'].isnull()].count())
#There are 32 rows missing values in the column WorkLoc
col_names = 'WorkLoc','SurveyEase'
print(df.loc[df['Respondent'] == 25082,col_names])
print(df.loc[df['Respondent'] == 2339,col_names])

Respondent                      0
MainBranch                      0
Hobbyist                        0
OpenSourcer                     0
OpenSource                      0
                               ..
Ethnicity                       0
Dependents                      0
SurveyLength                    0
SurveyEase                      0
NormalizedAnnualCompensation    0
Length: 86, dtype: int64
Respondent                      112
MainBranch                      112
Hobbyist                        112
OpenSourcer                     112
OpenSource                      111
                               ...
Ethnicity                       102
Dependents                      112
SurveyLength                    112
SurveyEase                      112
NormalizedAnnualCompensation    104
Length: 86, dtype: int64
      WorkLoc                  SurveyEase
11521  Office  Neither easy nor difficult
     WorkLoc SurveyEase
1107    Home       Easy

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [110]:
# your code goes here
print(df['WorkLoc'].value_counts())
print(df['WorkLoc'].value_counts().idxmax())
print(df['Employment'].value_counts())
print(df['Employment'].value_counts().idxmax())
print(df['UndergradMajor'].value_counts())
print(df['ConvertedComp'].value_counts())

WorkLoc
Office                                            6838
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: count, dtype: int64
Office
Employment
Employed full-time    10968
Employed part-time      430
Name: count, dtype: int64
Employed full-time
UndergradMajor
Computer science, computer engineering, or software engineering          6953
Information systems, information technology, or system administration     794
Another engineering discipline (ex. civil, electrical, mechanical)        759
Web development or web design                                             410
A natural science (ex. biology, chemistry, physics)                       403
Mathematics or statistics                                                 372
A business discipline (ex. accounting, finance, marketing)                244
A social science (ex. anthropology, psychology, political science)        210
A humanities discipline (ex. literature, history, philosophy)             207
Fine arts or performing arts (ex. graphic design, music, studio art)      161
I never declared a major                                                  124
A health science (ex. nursing, pharmacy, radiology)                        24
Name: count, dtype: int64
ConvertedComp
2000000.0    138
1000000.0    105
100000.0      99
150000.0      92
120000.0      86
            ...
79183.0        1
20475.0        1
288732.0       1
22056.0        1
19880.0        1
Name: count, Length: 3515, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [70]:
#make a note of the majority value here, for future reference
#Office is the most frequent in the WorkLoc column
print(df['WorkLoc'].mode())
print(df.mode()['WorkLoc'])

0    Office
Name: WorkLoc, dtype: object
0        Office
1           NaN
2           NaN
3           NaN
4           NaN
          ...
11393       NaN
11394       NaN
11395       NaN
11396       NaN
11397       NaN
Name: WorkLoc, Length: 11398, dtype: object

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [76]:
# your code goes here
df['WorkLoc'].replace(np.NaN,"Office",inplace=True)

<ipython-input-76-26f7d355221d>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['WorkLoc'].replace(np.NaN,"Office",inplace=True)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [79]:
# your code goes here
print(df[df['WorkLoc'].isnull()].count())
print(df['WorkLoc'].value_counts())

Respondent      0
MainBranch      0
Hobbyist        0
OpenSourcer     0
OpenSource      0
               ..
Sexuality       0
Ethnicity       0
Dependents      0
SurveyLength    0
SurveyEase      0
Length: 85, dtype: int64
WorkLoc
Office                                            6838
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: count, dtype: int64

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [112]:
# your code goes here
cols_comp = 'CompFreq','CompTotal'
#rows_val
print(df.loc[df['Respondent'] == 2339,cols_comp])
print(df.loc[(df['Respondent'] == 16) & (df['CompFreq'] == 'Monthly'),cols_comp])
print(df.loc[df['CompFreq'] == 'Monthly','Respondent'])
print(df.loc[df['CompFreq'] == 'Weekl)y'])
print(df['CompFreq'].value_counts())
#After removing the duplicate rows, how many respondents are being paid yearly?
respon = df.groupby('CompFreq')['Respondent'].count()
print(respon)

     CompFreq  CompTotal
1107   Yearly   100000.0
  CompFreq  CompTotal
3  Monthly    29000.0
3           16
5           19
6           20
9           24
10          25
         ...
11539    25120
11540    25122
11541    25123
11545    25133
11546    25134
Name: Respondent, Length: 4788, dtype: int64
Empty DataFrame
Columns: [Respondent, MainBranch, Hobbyist, OpenSourcer, OpenSource, Employment, Country, Student, EdLevel, UndergradMajor, EduOther, OrgSize, DevType, YearsCode, Age1stCode, YearsCodePro, CareerSat, JobSat, MgrIdiot, MgrMoney, MgrWant, JobSeek, LastHireDate, LastInt, FizzBuzz, JobFactors, ResumeUpdate, CurrencySymbol, CurrencyDesc, CompTotal, CompFreq, ConvertedComp, WorkWeekHrs, WorkPlan, WorkChallenge, WorkRemote, WorkLoc, ImpSyn, CodeRev, CodeRevHrs, UnitTests, PurchaseHow, PurchaseWhat, LanguageWorkedWith, LanguageDesireNextYear, DatabaseWorkedWith, DatabaseDesireNextYear, PlatformWorkedWith, PlatformDesireNextYear, WebFrameWorkedWith, WebFrameDesireNextYear, MiscTechWorkedWith, MiscTechDesireNextYear, DevEnviron, OpSys, Containers, BlockchainOrg, BlockchainIs, BetterLife, ITperson, OffOn, SocialMedia, Extraversion, ScreenName, SOVisit1st, SOVisitFreq, SOVisitTo, SOFindAnswer, SOTimeSaved, SOHowMuchTime, SOAccount, SOPartFreq, SOJobs, EntTeams, SOComm, WelcomeChange, SONewContent, Age, Gender, Trans, Sexuality, Ethnicity, Dependents, SurveyLength, SurveyEase, NormalizedAnnualCompensation]
Index: []

[0 rows x 86 columns]
CompFreq
Yearly     6073
Monthly    4788
Weekly      331
Name: count, dtype: int64
CompFreq
Monthly    4788
Weekly      331
Yearly     6073
Name: Respondent, dtype: int64

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [97]:
# your code goes here
df.loc[df['CompFreq'] == 'Yearly','NormalizedAnnualCompensation'] = df['CompTotal']        
df.loc[df['CompFreq'] == 'Monthly','NormalizedAnnualCompensation'] = df['CompTotal'] * 12        
df.loc[df['CompFreq'] == 'Weekly','NormalizedAnnualCompensation'] = df['CompTotal'] * 52

In [115]:
cols_comp = 'CompFreq','CompTotal','ConvertedComp','NormalizedAnnualCompensation','WorkLoc'
rows_val = 2339,16,4,9,29,32,102,19,20
print(df.loc[df['Respondent'].isin(rows_val),cols_comp])
#What is the median NormalizedAnnualCompensation?  
median_normAnnComp = df['NormalizedAnnualCompensation'].median()
print(median_normAnnComp)

     CompFreq  CompTotal  ConvertedComp  NormalizedAnnualCompensation WorkLoc
0      Yearly    61000.0        61000.0                       61000.0    Home
1      Yearly   138000.0        95179.0                      138000.0  Office
3     Monthly    29000.0       455352.0                      348000.0    Home
5     Monthly     9500.0        31140.0                      114000.0  Office
6     Monthly     3000.0        41244.0                       36000.0  Office
12     Weekly     2000.0       100000.0                      104000.0  Office
13     Weekly    22000.0      1100000.0                     1144000.0    Home
46     Weekly    67800.0      2000000.0                     3525600.0  Office
1107   Yearly   100000.0       100000.0                      100000.0    Home
100000.0

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).

<!--## Change Log

<!--| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |--!>